body {
  font-family: var(--main-font);
  background-color: var(--main-color);
  color: var(--font-color) !important;
}
a {
  color: var(--main-dark);
}
a:hover {
  color: var(--highlight-color-main) !important;
}
h1,
h2,
h3,
h4,
h5,
h6,
i {
  color: var(--headers-color);
}
p {
  font-size: 1.5rem;
}
canvas {
  display: none;
}
#my-header {
  position: relative !important;
  overflow: hidden !important;
  color: var(--banner-font-color)
}
/* navbar*/
.navbar {
  font-size: 1.5rem;
  background: var(--main-color);
}

@media (max-width: 768px) {
  .navbar-toggle {
    margin-right: var(--page-spacer) !important;
  }
  .navbar-nav {
    margin-right: calc(var(--page-spacer) - 30px) !important;
  }
}
.navbar-collapse {
  text-align: end;
}

/*banner*/
.opacity {
  height: 100%;
  border-top: 1px solid white;
}

.banner__main-title,
.banner__subtitle,
.banner__btn {
  position: relative;
  z-index: 2;
}
.banner__main-title {
  margin-bottom: 0;
  font-size: 5rem;
}
.banner__subtitle {
  margin-top: 0;
  margin-bottom: 4rem;
  font-size: 2.5rem;
}
#particles-js {
  position: relative;
  z-index: 1;
}

/* content */
/* sections */
.section-container {
  position: relative;
  /* top: 96px; */
}
.section-header {
  font-size: 2rem;
  font-weight: bold;
}
.background-color-container {
  background: var(--accent-color);
}
.test-div span {
  font-weight: normal !important;
}

/* cards */
