:root {
  /* general variables */
  --page-spacer: 2rem;
  --dark-jungle: #092327;
  --highlight-color-main: #fa8334;
  --highlight-color-other: #8b62ff;
  --btn-color-1: var(--highlight-color-main);
  --btn-color-2: var(--highlight-color-other);

  /* dark theme */
  --main-dark: #071c31;
  --headers-color-light: #fff;
  --text-color-light: #ccc;
  --accent-color-light: #d6fee9;

  /* light theme */
  --main-light: #fff;
  --headers-color-dark: #071c31;
  --text-color-dark: #071c31;
  --accent-color-dark: #ffbdcb;

  --banner-font-color: var(--main-light) !important;

  /* set theme */
  --main-color: var(--main-light);
  --font-color: var(--text-color-dark);
  --headers-color: var(--headers-color-dark);
  --accent-color: var(--accent-color-dark);

  --main-font: Roboto, sans-serif;
  --accent-font: 'Roboto mono', sans-serif;
}
