:root {
  --page-spacer: 2rem;
  --dark-jungle: #092327;
  --main-dark: #071c31;
  --light-background: #;
  --headers-color: #fff;
  --text-color: #ccc;
}

/* #div1 {
  background-color: var(--main-bg-color);
} */
